<html lang="es" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Extracto consolidado</title>
    <style type="text/css">          body {
        background-color: #FFF;
        margin: 0;
        font-family: Arial;
        color: #000;
        font-size: 9pt;
        width: 210mm;
    }

    .content {
        width: 80%;
        margin-left: 10%;
        margin-right: 10%;
    }

    .page {
        width: 210mm;
        height: 280mm;
        Display: inline-block;
        margin: 0px;
    }

    .caja5 {
        width: 5%;
        float: left;
        min-height: 1px;
        text-align: center;
    }

    .caja7 {
        width: 7%;
        float: left;
        min-height: 1px;
        text-align: center;
    }

    .caja10 {
        width: 10%;
        float: left;
        min-height: 1px;
        text-align: center;
    }

    .caja15 {
        width: 15%;
        float: left;
        min-height: 1px;
        text-align: center;
    }

    .caja20 {
        width: 20%;
        float: left;
        min-height: 1px;
        text-align: center;
    }

    .caja25 {
        width: 25%;
        float: left;
        min-height: 1px;
        text-align: center;
    }

    .caja30 {
        width: 30%;
        float: left;
        min-height: 1px;
        text-align: center;
    }

    .caja50 {
        width: 50%;
        float: left;
        min-height: 1px;
        text-align: center;
    }

    .caja40 {
        width: 40%;
        float: left;
        min-height: 1px;
        text-align: center;
    }

    .caja45 {
        width: 45%;
        float: left;
        min-height: 1px;
        text-align: center;
    }

    .caja60 {
        width: 60%;
        float: left;
        min-height: 1px;
        text-align: center;
    }

    .caja80 {
        width: 80%;
        float: left;
        min-height: 1px;
        text-align: center;
    }

    .caja100 {
        width: 100%;
        float: left;
        min-height: 1px;
        text-align: center;
    }

    .separador {
        margin-right: -15px;
        margin-left: -15px;
        clear: both;
        width: 100%;
        float: left;
        min-height: 1px;
        text-align: center;
        display: block;
        margin-top: 5px;
    }

    .bordeCaja {
        border: 1px solid #047734;
    }

    .redondearTop {
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
    }

    .redondearBottom {
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
    }

    .row {
        margin-right: -15px;
        margin-left: -15px;
    }

    .row:before, .row:after {
        display: table;
        content: " ";
    }

    .row:after {
        clear: both;
    }

    .footer {
        position: absolute;
        height: 15mm;
        text-align: center;
        width: 168mm;
        margin-left: 21mm;
        margin-right: 21mm;
        border-top: 1px solid black;
    }

    .detail {
        width: 97%;
        text-align: left;
        font-size: 80%;
        margin: 6px 4px;
        padding: 8px;
        border: 1px solid;
        border-radius: 5px;
    }

    .Grid {
        border: 1px solid black;
        font-size: 80%;
    }

    #header {
        width: 100%
    }

    #header div {
        -webkit-print-color-adjust: exact;
        height: 90px;
        background-color: #063c1d;
        float: left;
    }

    .cajaHeader {
        -webkit-print-color-adjust: exact;
        background-color: #cce4cc;
    }
    </style>
</head>
<body>
<div class="page">
    <div id="header" style="width:100%">
        <div style="width: 60%; height: 90px; background-color: #063c1d; float: left; "><img id="image"
                                                                                             style="width:35%; margin-left:7px "
                                                                                             src="data:image/png;base64,<<3>>"/>
        </div>
        <div style="width: 40%; height: 90px; background-color: #063c1d; float: left; ">
            <p style="margin: 33px; font-size:20px; color: white; font-weight:bold"> {{tipo_producto}} </p>
        </div>
    </div>
    <div class="content">
        <div class="separador"></div>
        <div class="row">
            <div class="caja100 bordeCaja redondearTop cajaHeader" style="overflow:hidden">
                <div class="caja50" style="background-color: #cce4cc">
                    <h3>Titular</h3>
                </div>
                <div class="caja50" style="background-color: #cce4cc">
                    <h3>N&uacute;mero Cuenta</h3>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="caja100 bordeCaja redondearBottom">
                <div class="caja50" style="font-size:90%">
                    <p><span><strong>{{titular_cuenta}}</strong></span></p>
                    <p><span><strong>{{direccion_fisica}}</strong></span></p>
                    <p><span><strong>{{ciudad}}</strong></span></p>
                </div>
                <div class="caja50">
                    <h4>{{numero_cuenta}}</h4>
                </div>
            </div>
        </div>
        <div class="separador"></div>
        <div class="row">
            <div class="caja100 bordeCaja redondearBottom redondearTop" style="font-size:85%">
                <div class="caja50">
                    <h3>ESTADO CUENTA</h3>
                </div>
                <div class="caja50" style="text-align:left;">
                    <p><span><strong>Desde:</strong></span><span>{{fecha_desde}}</span></p>
                    <p><span><strong>Hasta:</strong></span><span>{{fecha_hasta}}</span></p>
                    <p><span><strong>Pag:</strong></span><span>1</span><span><strong> de:</strong></span><span>{{numero_paginas}}</span>
                    </p>
                    <p><span><strong>Fecha Generaci&oacute;n:</strong></span><span>{{fecha_generacion}}</span></p>
                </div>
            </div>
        </div>
        <div class="separador"></div>
        <div class="row">
            <div class="caja100 bordeCaja redondearTop redondearBottom"
                 style="background-color: #cce4cc; overflow:hidden">
                <h3>DETALLE DE MOVIMIENTOS</h3>
            </div>
        </div>
        <div class="separador"></div>
        <div class="row">
            <div class="caja100 bordeCaja redondearTop" style="overflow:hidden; font-size:85%">
                <div class="caja10" style="background-color: #cce4cc">
                    <p><span><strong>FECHA</strong></span></p>
                </div>
                <div class="caja50" style="background-color: #cce4cc">
                    <p><span><strong>TIPO TRANSACCI&Oacute;N</strong></span></p>
                </div>
                <div class="caja15" style="background-color: #cce4cc">
                    <p><span><strong>CR&Eacute;DITOS</strong></span></p>
                </div>
                <div class="caja15" style="background-color: #cce4cc">
                    <p><span><strong>D&Eacute;BITOS</strong></span></p>
                </div>
                <div class="caja10" style="background-color: #cce4cc">
                    <p><span><strong>SALDOS</strong></span></p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="caja100 bordeCaja redondearBottom">
                <table style="width:100%; text-align:center; font-size:85%">
                    <tbody>
                    {{#Detalles}}
                    <tr>
                        <td width="10%">{{FechaTransaccion}}</td>
                        <td width="50%">{{Descripcion_Transaccion}}</td>
                        <td width="15%">{{Creditos}}</td>
                        <td width="15%">{{Debitos}}</td>
                        <td width="10%">{{Saldo}}</td>
                    </tr>
                    {{/Detalles}}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="separador"></div>
        <div class="row">
            <div class="caja50 bordeCaja redondearTop" style="overflow:hidden; font-size:85%">
                <div class="caja100" style="background-color: #cce4cc">
                    <p><span><strong>RESUMEN</strong></span></p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="caja50 bordeCaja redondearBottom">
                <table style="width:100%; text-align:center; font-size:80%">
                    <tbody>
                    <tr>
                        <td width="50%">Saldo Anterior</td>
                        <td width="25%"></td>
                        <td width="25%">{{saldo_anterior}}</td>
                    </tr>
                    <tr>
                        <td width="50%">Total D&eacute;bitos</td>
                        <td width="25%"></td>
                        <td width="25%">{{total_debitos}}</td>
                    </tr>
                    <tr>
                        <td width="50%">Total Cr&eacute;ditos</td>
                        <td width="25%"></td>
                        <td width="25%">{{total_creditos}}</td>
                    </tr>
                    <tr>
                        <td width="50%">Gravamen</td>
                        <td width="25%"></td>
                        <td width="25%">{{gravamen}}</td>
                    </tr>
                    <tr>
                        <td width="50%">Retefuente</td>
                        <td width="25%"></td>
                        <td width="25%">{{retefuente}}</td>
                    </tr>
                    <tr>
                        <td width="50%">Saldo Canje</td>
                        <td width="25%"></td>
                        <td width="25%">{{saldo_canje}}</td>
                    </tr>
                    <tr>
                        <td width="50%">Saldo Final</td>
                        <td width="25%"></td>
                        <td width="25%">{{saldo_final}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="caja50"></div>
        </div>
        <div class="separador"></div>
        <div class="separador"></div>
        <div class="separador"></div>
        <div class="row" align="center"><img style="width:100%;"
                                             src="https://syncaadb2ee.blob.core.windows.net/images/Extracto-Octubre.jpg"/>
        </div>
    </div>
    <div class="footer" style="top: 2mm;"><img style="width:100%;"
                                               src=""/>
    </div>
</div>
</body>
</html>