<html lang="es" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Extracto consolidado</title>
    <style type="text/css">          body {
        background-color: #FFF;
        margin: 0;
        font-family: Arial;
        color: #000;
        font-size: 9pt;
        width: 210mm;
    }

    .content {
        width: 80%;
        margin-left: 10%;
        margin-right: 10%;
    }

    .page {
        width: 210mm;
        height: 280mm;
        Display: inline-block;
        margin: 0px;
    }

    .caja5 {
        width: 5%;
        float: left;
        min-height: 1px;
        text-align: center;
    }

    .caja7 {
        width: 7%;
        float: left;
        min-height: 1px;
        text-align: center;
    }

    .caja10 {
        width: 10%;
        float: left;
        min-height: 1px;
        text-align: center;
    }

    .caja15 {
        width: 15%;
        float: left;
        min-height: 1px;
        text-align: center;
    }

    .caja20 {
        width: 20%;
        float: left;
        min-height: 1px;
        text-align: center;
    }

    .caja25 {
        width: 25%;
        float: left;
        min-height: 1px;
        text-align: center;
    }

    .caja30 {
        width: 30%;
        float: left;
        min-height: 1px;
        text-align: center;
    }

    .caja50 {
        width: 50%;
        float: left;
        min-height: 1px;
        text-align: center;
    }

    .caja40 {
        width: 40%;
        float: left;
        min-height: 1px;
        text-align: center;
    }

    .caja45 {
        width: 45%;
        float: left;
        min-height: 1px;
        text-align: center;
    }

    .caja60 {
        width: 60%;
        float: left;
        min-height: 1px;
        text-align: center;
    }

    .caja80 {
        width: 80%;
        float: left;
        min-height: 1px;
        text-align: center;
    }

    .caja100 {
        width: 100%;
        float: left;
        min-height: 1px;
        text-align: center;
    }

    .separador {
        margin-right: -15px;
        margin-left: -15px;
        clear: both;
        width: 100%;
        float: left;
        min-height: 1px;
        text-align: center;
        display: block;
        margin-top: 5px;
    }

    .bordeCaja {
        border: 1px solid #047734;
    }

    .redondearTop {
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }

    .redondearBottom {
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
    }

    .row {
        margin-right: -15px;
        margin-left: -15px;
    }

    .row:before, .row:after {
        display: table;
        content: " ";
    }

    .row:after {
        clear: both;
    }

    .footer {
        position: absolute;
        height: 15mm;
        text-align: center;
        width: 168mm;
        margin-left: 21mm;
        margin-right: 21mm;
        border-top: 1px solid black;
    }

    .detail {
        width: 97%;
        text-align: left;
        font-size: 80%;
        margin: 6px 4px;
        padding: 8px;
        border: 1px solid;
        border-radius: 5px;
    }

    .Grid {
        border: 1px solid black;
        font-size: 80%;
    }

    #header {
        width: 100%
    }

    #header div {
        -webkit-print-color-adjust: exact;
        height: 90px;
        background-color: #063c1d;
        float: left;
    }

    .cajaHeader {
        -webkit-print-color-adjust: exact;
        background-color: #cce4cc;
    }
    </style>
</head>
<body>
<div class="page">
    <div id="header" style="width:100%">
        <div style="width: 60%; height: 80px; background-color: #063c1d; float: left; "><img id="image"
                                                                                             style="width:105%;  margin-left:7px"
                                                                                             src="https://syncaadb2ee.blob.core.windows.net/images/logo_falabella.png"/>
        </div>
        <div style="width: 40%; height: 80px; background-color: #063c1d; float: left; ">
            <p style="margin: 33px; font-size:20px; color: white; font-weight:bold"> {{tipo_producto}} </p>
        </div>
    </div>
    <div class="content">
        <div class="separador"></div>
        <div class="row">
            <div class="caja100 bordeCaja redondearBottom redondearTop">
                <div class="caja50" style="font-size:75%">
                    <p><span><strong>{{titular_cuenta}}</strong></span></p>
                    <p><span><strong>{{direccion_fisica}}</strong></span></p>
                    <p><span><strong>{{ciudad}}</strong></span></p>
                </div>
                <div class="caja50" style="font-size:75%">
                    <p><span><strong>N&Uacute;MERO DE CUENTA PARA PAGOS V&Iacute;A BALOTO</strong></span></p>
                    <p><span><strong>{{numero_cuenta}}</strong></span></p>
                    <p><span><strong>TARJETA CMR: *************{{tarjeta_cmr}}</strong></span></p>
                </div>
            </div>
        </div>
        <div class="separador"></div>
        <div class="row">
            <div class="caja100 bordeCaja redondearBottom redondearTop" style="font-size:75%">
                <div class="caja50">
                    <p><span><strong>FECHA FACTURACI&Oacute;N:</strong></span><span> {{fecha_facturacion}}</span></p>
                </div>
                <div class="caja50">
                    <p><span><strong>FECHA L&Iacute;MITE DE PAGO:</strong></span><span> {{fecha_limite}}</span></p>
                </div>
            </div>
        </div>
        <div class="separador"></div>
        <div class="row" style="font-size:80%">
            <div class="caja100 bordeCaja redondearTop cajaHeader"
                 style="overflow:hidden; font-size:75%; background-color: #cce4cc;">
                <div class="caja10" style="background-color: #cce4cc">
                    <p><span><strong>FECHA TRANSACCI&Oacute;N</strong></span></p>
                </div>
                <div class="caja10" style="background-color: #cce4cc" align="right">
                    <p><span><strong>NUM. COMPROBANTE</strong></span></p>
                </div>
                <div class="caja25" style="background-color: #cce4cc">
                    <p><span><strong>DESCRIPCI&Oacute;N</strong></span></p>
                </div>
                <div class="caja10" style="background-color: #cce4cc" align="right">
                    <p><span><strong>VALOR COMPRA</strong></span></p>
                </div>
                <div class="caja5" style="background-color: #cce4cc" align="right">
                    <p><span><strong>PLAZO</strong></span></p>
                </div>
                <div class="caja10" style="background-color: #cce4cc" align="right">
                    <p><span><strong>TASA PACTADA E.A.</strong></span></p>
                </div>
                <div class="caja10" style="background-color: #cce4cc" align="right">
                    <p><span><strong>ABONOS Y CARGOS</strong></span></p>
                </div>
                <div class="caja10" style="background-color: #cce4cc" align="right">
                    <p><span><strong>SALDO A DIFERIR</strong></span></p>
                </div>
                <div class="caja5" style="background-color: #cce4cc" align="right">
                    <p><span><strong>CUOTA FACT.</strong></span></p>
                </div>
                <div class="caja5" style="background-color: #cce4cc" align="right">
                    <p><span><strong>CUOTA PEND.</strong></span></p>
                </div>
            </div>
        </div>
        <div class="row" style="font-size:80%">
            <div class="caja100 bordeCaja redondearBottom">
                <table style="width:100%; text-align:center; font-size:75%">
                    <tbody>
                    {{#Detalles}}
                    <tr>
                        <td width="10%">{{Fecha_Facturacion}}</td>
                        <td width="10%">{{Comprobante}}</td>
                        <td width="25%">{{Descripcion}}</td>
                        <td width="10%">{{Valor_Compra}}</td>
                        <td width="5%">{{Plazo}}</td>
                        <td width="10%">{{Tasa_Facturacion_porcenta}}</td>
                        <td width="10%">{{Abonos_y_Cargos}}</td>
                        <td width="10%">{{Saldo_a_Diferir}}</td>
                        <td width="5%">{{Cuotas_Facturadas}}</td>
                        <td width="5%">{{Cuotas_Pendientes}}</td>
                    </tr>
                    {{/Detalles}}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="separador"></div>
        <div class="row" style="font-size:60%">
            <div class="caja100 bordeCaja redondearTop" style="overflow:hidden">
                <div class="caja50" style="background-color: #cce4cc">
                    <h4>RESUMEN SALDO TOTAL</h4>
                </div>
                <div class="caja50" style="background-color: #cce4cc">
                    <h4>RESUMEN PAGO M&Iacute;NIMO</h4>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="caja100 bordeCaja redondearBottom">
                <div class="caja25" style="font-size:75%">
                    <table class="detail">
                        <thead></thead>
                        <tbody>
                        <tr>
                            <td width="70%">Saldo anterior</td>
                            <td width="5%"></td>
                            <td width="25%">{{saldo_anterior}}</td>
                        </tr>
                        <tr>
                            <td width="70%">Consumo mes</td>
                            <td width="5%"></td>
                            <td width="25%">{{consumo_mes}}</td>
                        </tr>
                        <tr>
                            <td width="70%">Intereses mora</td>
                            <td width="5%"></td>
                            <td width="25%">{{intereses_moraST}}</td>
                        </tr>
                        <tr>
                            <td width="70%">Intereses Corrientes</td>
                            <td width="5%"></td>
                            <td width="25%">{{intereses_corrientesST}}</td>
                        </tr>
                        <tr>
                            <td width="70%">Avances del mes</td>
                            <td width="5%"></td>
                            <td width="25%"><strong>{{avances_mes}}</strong></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="caja25" style="font-size:75%">
                    <table class="detail">
                        <thead></thead>
                        <tbody>
                        <tr>
                            <td width="70%">Otros cargos</td>
                            <td width="5%"></td>
                            <td width="25%">{{otros_cargos}}</td>
                        </tr>
                        <tr>
                            <td width="70%">Pagos y créditos</td>
                            <td width="5%"></td>
                            <td width="25%">{{pagos_y_creditos}}</td>
                        </tr>
                        <tr>
                            <td width="70%">Saldo al corte</td>
                            <td width="5%"></td>
                            <td width="25%">{{saldo_al_corte}}</td>
                        </tr>
                        <tr>
                            <td width="70%">PAC cuenta de ahorros</td>
                            <td width="5%"></td>
                            <td width="25%">{{pac_cuenta_ahorro}}</td>
                        </tr>
                        <tr>
                            <td width="70%">Pago total corte</td>
                            <td width="5%"></td>
                            <td width="25%"><strong>{{pago_total_corte}}</strong></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="caja25" style="font-size:75%">
                    <table class="detail">
                        <thead></thead>
                        <tbody>
                        <tr>
                            <td width="70%">Saldo en mora</td>
                            <td width="5%"></td>
                            <td width="25%">{{saldo_en_mora}}</td>
                        </tr>
                        <tr>
                            <td width="70%">Cuotas consumos</td>
                            <td width="5%"></td>
                            <td width="25%">{{cuotas_consumo}}</td>
                        </tr>
                        <tr>
                            <td width="70%">Intereses de mora</td>
                            <td width="5%"></td>
                            <td width="25%">{{intereses_moraPM}}</td>
                        </tr>
                        <tr>
                            <td width="70%">Intereses Corriente</td>
                            <td width="5%"></td>
                            <td width="25%">{{intereses_corrientesPM}}</td>
                        </tr>
                        <tr>
                            <td width="70%">Cuota avances</td>
                            <td width="5%"></td>
                            <td width="25%">{{cuota_avances}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="caja25" style="font-size:75%">
                    <table class="detail">
                        <thead></thead>
                        <tbody>
                        <tr>
                            <td width="70%">Otros cargos</td>
                            <td width="5%"></td>
                            <td width="25%">{{otros_cargosPM}}</td>
                        </tr>
                        <tr>
                            <td width="70%">Pague hasta</td>
                            <td width="5%"></td>
                            <td width="25%">{{pague_hasta}}</td>
                        </tr>
                        <tr>
                            <td width="70%">Pago mínimo tarjeta</td>
                            <td width="5%"></td>
                            <td width="25%">{{pago_minimoPM}}</td>
                        </tr>
                        <tr>
                            <td width="70%">PAC cuenta ahorros</td>
                            <td width="5%"></td>
                            <td width="25%">{{PACCta_Ahorro}}</td>
                        </tr>
                        <tr>
                            <td width="70%">Pago total del mes</td>
                            <td width="5%"></td>
                            <td width="25%">{{pago_total_mes}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="separador"></div>
        <div class="row" style="font-size:60%">
            <div class="caja100 bordeCaja redondearTop" style="overflow:hidden">
                <div class="caja50" style="background-color: #cce4cc">
                    <h4>INFORMACI&Oacute;N GENERAL</h4>
                </div>
                <div class="caja50" style="background-color: #cce4cc">
                    <h4>INTER&Eacute;S VIGENTE</h4>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="caja100 bordeCaja redondearBottom">
                <div class="caja50" style="font-size:75%">
                    <table class="detail">
                        <thead></thead>
                        <tbody>
                        <tr>
                            <td width="50%">Cupo Tarjeta CMR</td>
                            <td width="25%"></td>
                            <td width="25%">{{cupo_cmr}}</td>
                        </tr>
                        <tr>
                            <td width="50%">Disponible Tarjeta CMR</td>
                            <td width="25%"></td>
                            <td width="25%">{{disponible_cmr}}</td>
                        </tr>
                        <tr>
                            <td width="50%">Disponible Avances</td>
                            <td width="25%"></td>
                            <td width="25%">{{disponible_avances}}</td>
                        </tr>
                        <tr>
                            <td width="50%">Saldo Capital al Corte CMR Extendido</td>
                            <td width="25%"></td>
                            <td width="25%"><strong>{{saldo_capital}}</strong></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="caja50" style="font-size:75%">
                    <table class="detail">
                        <thead></thead>
                        <tbody>
                        <tr>
                            <td width="40%">Tasa Avances</td>
                            <td width="10%"></td>
                            <td width="25%">{{tasa_avances}} MV</td>
                            <td width="25%">{{tasa_avance_EA}}</td>
                        </tr>
                        <tr>
                            <td width="40%">Tasa Compras</td>
                            <td width="10%"></td>
                            <td width="25%">{{tasa_compras}} MV</td>
                            <td width="25%">{{tasa_compra_EA}}</td>
                        </tr>
                        <tr>
                            <td width="40%">Tasa Mora</td>
                            <td width="10%"></td>
                            <td width="25%">{{tasa_mora}} MV</td>
                            <td width="25%">{{tasa_mora_EA}}</td>
                        </tr>
                        <tr>
                            <td width="40%">Intereses Corriente</td>
                            <td width="10%"></td>
                            <td width="25%">{{interes_corriente}}</td>
                            <td width="25%"></td>
                        </tr>
                        <tr>
                            <div class="separador"></div>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="separador"></div>
        <div class="row" style="font-size:60%" height="80%">
            <div class="caja100 bordeCaja redondearTop" style="overflow:hidden">
                <div class="caja100" style="background-color: #cce4cc">
                    <h4>DETALLE APLICACI&Oacute;N PAGOS DEL MES ANTERIOR</h4>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="caja100 bordeCaja redondearBottom">
                <div class="caja50" style="font-size:75%">
                    <table class="detail">
                        <thead></thead>
                        <tbody>
                        <tr>
                            <td width="50%">Gastos de Cobranza</td>
                            <td width="25%"></td>
                            <td width="25%">{{gastos_cobranza}}</td>
                        </tr>
                        <tr>
                            <td width="50%">Capital Avance</td>
                            <td width="25%"></td>
                            <td width="25%">{{capital_avance}}</td>
                        </tr>
                        <tr>
                            <td width="50%">Otros cargos</td>
                            <td width="25%"></td>
                            <td width="25%">{{cuota_manejo}}</td>
                        </tr>
                        <tr>
                            <td width="50%">Inter&eacute;s Mora</td>
                            <td width="25%"></td>
                            <td width="25%">{{interes_mora}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="caja50" style="font-size:75%">
                    <table class="detail">
                        <thead></thead>
                        <tbody>
                        <tr>
                            <td width="50%">Inter&eacute;s Corriente</td>
                            <td width="25%"></td>
                            <td width="25%">{{interes_corriente_ant}}</td>
                        </tr>
                        <tr>
                            <td width="50%">Capital</td>
                            <td width="25%"></td>
                            <td width="25%">{{capital}}</td>
                        </tr>
                        <tr>
                            <td width="50%">PAC Ahorro</td>
                            <td width="25%"></td>
                            <td width="25%">{{pac_ahorro_ant}}</td>
                        </tr>
                        <tr>
                            <td width="50%">Total Pagado</td>
                            <td width="25%"></td>
                            <td width="25%">{{total_pagado}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="separador"></div>
        <div class="row">
            <div class="caja100 bordeCaja redondearBottom redondearTop" style="font-size:85%">
                <div class="caja50">
                    <p><span>PAGUE HASTA EL:</span><span> <strong>{{fecha_pago}}</strong></span></p>
                </div>
                <div class="caja50">
                    <p><span>PAGO M&Iacute;NIMO TARJETA:</span><span> <strong>{{pago_minimo}}</strong></span></p>
                </div>
            </div>
        </div>
        <div class="separador"></div>
        <div class="row">
            <div class="caja100 bordeCaja redondearBottom redondearTop" style="font-size:85%">
                <div class="caja50">
                    <p><span>PAC AHORRO:</span><span> <strong>{{pac_ahorro}}</strong></span></p>
                </div>
                <div class="caja50">
                    <p>
                        <span>PAGO M&Iacute;NIMO TARJETA CON PAC:</span><span> <strong>{{pago_minimo_pac}}</strong></span>
                    </p>
                </div>
            </div>
        </div>
        <div class="separador"></div>
        <div class="row" align="center">
            <img style="width:100%;" src="https://syncaadb2ee.blob.core.windows.net/images/Extracto-Octubre.jpg"/>
            <div style="display:none"> {{dias_mora}} {{numero_paginas}}</div>
        </div>
        <div class="caja100">
            <div class="caja50">
                <div class="separador"></div>
                <div class="separador"></div>
                <div class="separador"></div>
                <div class="separador"></div>
                <div class="separador"></div>
                <div class="separador"></div>
                <img  style="width:100%;" src="https://syncaadb2ee.blob.core.windows.net/images/Completo-Banner-CUP-2019.jpg"/>
            </div>
            <div class="caja50">
                <table style="font-size:70%;border-collapse: collapse;border =0;width:80%" align="right">
                    <tr>
                        <td width="90%"> Si deseas realizar el pago de tu Tarjeta de Crédito SIN INCLUIR el valor de tu
                            PAC AHORRO marca aquí
                        </td>
                        <td width="10%" class="Grid"></td>
                    </tr>
                </table>
                <table class="detail" style="border-collapse: collapse;width:70%" align="right">
                    <tr>
                        <td class="Grid" width="15%" style="background-color: #cce4cc">FECHA</td>
                        <td class="Grid" width="10%" style="background-color: #cce4cc">Año</td>
                        <td class="Grid" width="15%"></td>
                        <td class="Grid" width="10%" style="background-color: #cce4cc">Mes</td>
                        <td class="Grid" width="15%"></td>
                        <td class="Grid" width="10%" style="background-color: #cce4cc">Día</td>
                        <td class="Grid" width="15%"></td>
                    </tr>
                </table>
                <table class="detail" style="border-collapse: collapse;width:100%">
                    <tr style="background-color: #cce4cc">
                        <td width="10%" class="Grid"></td>
                        <td width="40%" class="Grid"></td>
                        <td width="20%" class="Grid" align="center">Forma de pago</td>
                        <td width="30%" class="Grid" align="center">VALOR</td>
                    </tr>
                    <tr>
                        <td class="Grid" align="center" style="font-size:60%">Cód Banco</td>
                        <td class="Grid" align="center">No de cuenta</td>
                        <td class="Grid">Efectivo [_]</td>
                        <td class="Grid">$</td>
                    </tr>
                    <tr>
                        <td class="Grid"></td>
                        <td class="Grid"></td>
                        <td class="Grid">Cheque [_]</td>
                        <td class="Grid">$</td>
                    </tr>
                    <tr>
                        <td class="Grid" colspan="3" align="right">TOTAL PAGADO</td>
                        <td class="Grid">$</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <!--         <div class="footer" style="top: {{footerposition}}mm;">          </div>-->
</div>
</body>
</html>